{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href ={% static 'routing/css/catalogueStyle.css' %}>
{% endblock links %}

{% block title %}
    FlowersShop - Каталог товаров
{% endblock title %}

{% block div %}
    <div class="underHead">
        <h1>Каталог товаров</h1>
    </div>
{% endblock div %}

{% block main %}
    <a href="{% url 'Home' %}">Вернуться обратно</a><br>
        <a href="{% url 'Change Positions' %}">Изменить текущие категории</a><br>
        <a href="{% url 'Feedback' %}">Контакты</a>
        <div class="cards">
            <div class="card" style="width: 18rem;">
              <img src="" class="card-img-top" alt="Розы">
              <div class="card-body">
                <h5 class="card-title">Розы</h5>
                <p class="card-text">Роза – это природный музей цвета. Она может быть всего лишь одного оттенка, но даже в этом случае ее цвет говорит многое. От нежно-розовых тонов до смелого красного, роза предлагает нам обширную палитру эмоций и чувств. А каждая новая роза — это новый мир, наполненный гармонией и красотой.</p>
              </div>
              <div class="card-body">
                <a href="{% url 'Roses assortment' %}" class="card-link">Перейти к розам</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="" class="card-img-top" alt="Пионы">
              <div class="card-body">
                <h5 class="card-title">Пионы</h5>
                <p class="card-text">Пион - поистине роскошный цветок. Издавна он был достоин полотен художника и дворцовых залов. Недаром его считают королем всех цветов. По своей красоте и пышности пион конкурировал с розой. Его любили и в античной Европе, и в древнем Китае. О нем слагали легенды и приписывали ему чудесные свойства...</p>
              </div>
              <div class="card-body">
                <a href="{% url 'Pions assortment' %}" class="card-link">Перейти к пионам</a>
              </div>
            </div>
        </div>
{% endblock main %}
