{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изменение товаров</title>
    <link rel="stylesheet" href="{% static 'routing/css/change_flowersStyle.css' %}">
</head>
<body>
    <header></header>

    <main>
        <a href="{% url 'Flowers Catalogue' %}">Вернуться обратно</a>
    </main>
</body>
</html>
