{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href ={% static 'routing/css/homeStyle.css' %}>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap" rel="stylesheet">

    <title>FlowersShop</title>
</head>
<body>
    <header>
            <ul class="nav nav-underline">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Основная страница</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Flowers Catalogue' %}">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Personal Cabinet' %}">Личный кабинет</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Shopping Cart' %}">Корзина</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'API' %}">API</a>
              </li>
         </ul>
    </header>
    <main>
        <div class = "picture">
            <img src="../../static/routing/img/white-flowers.png" alt="Цветок на черном фоне" width="1200" height="700">
            <div class="centered-text"><h1>Цветы - остатки Рая на земле.</h1></div>
            <div class="text-under-centered-text"><h2>FlowersShop - топ 1 магазин цветов в РФ.</h2></div>
        </div>
        <div class="gradient-background">

        </div>
    </main>
</body>
</html>