{% extends "base.html" %}
{% load static %}

{% block links %}
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href ={% static 'routing/css/homeStyle.css' %}>
{% endblock links %}

{% block title %}
    FlowersShop
{% endblock title %}

{% block main %}
    <div class = "picture">
            <img src="../../static/routing/img/white-flowers.png" alt="Цветок на черном фоне" width="1080px" height="700">
            <div class="centered-text"><h1>Цветы - остатки Рая на земле.</h1></div>
            <div class="text-under-centered-text"><h2>FlowersShop - топ 1 магазин цветов в РФ.</h2></div>
        </div>
        <div class="gradient-background">

        </div>
{% endblock main %}



