{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'routing/css/pionsStyle.css'  %}">
    <title>FlowersShop - пионы</title>
</head>
<body>
    <header></header>

    <main>
        <div class="links">
            <a href="{% url 'Flowers Catalogue' %}"></a>
            <a href="{% url 'Create Positions'%}">Добавить позицию</a>
        </div>

    </main>
</body>
</html>
