{% load static %}

    {% include "inc/_links.html" %}
    {% block links %}
        {% comment "Можно реализовать доп. ссылки, но не обязательно" %}
        {%  endcomment %}
    {% endblock links %}
    <title>{% block title %}{% endblock title %}</title>

<body>
    <header>
        {% include "inc/_header.html" %}
    </header>

    <div>
        {% block div %}
            {% comment "Можно реализовать код, но не обязательно" %}
            {%  endcomment %}
        {% endblock div %}
    </div>

    <nav>
        {% block nav %}
            {% comment "Можно реализовать код, но не обязательно" %}
            {%  endcomment %}
        {% endblock nav %}
    </nav>

    <main>
       {% block main %}
            {% comment "Необходимо реализовать код" %}
            {%  endcomment %}
       {% endblock main %}
    </main>

    <footer>
        {% include "inc/_footer.html" %}
    </footer>

    {% block script %}
        {% comment "Можно реализовать код, но не обязательно" %}
        {%  endcomment %}
    {% endblock script %}
</body>
</html>