{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'routing/css/CRUD_pagesStyles/add_flowersStyle.css' %}">
{% endblock links %}

{% block title %}
    Create Positions
{% endblock title %}

{% block main %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment Не работает... %} {{ form|crispy }} {% endcomment %}
        <button type="submit">Добавить</button>
    </form>

    <a href="{% url 'API' %}">Вернуться обратно</a><br>
{% endblock main %}
