 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>О нас</h4>
  	 			<ul>
  	 				<li><a href="{% url 'User Agreement' %}">Пользовательское соглашение</a></li>
  	 				<li><a href="{% url 'Feedback' %}">Контактная информация</a></li>
  	 				<li><a href="{% url 'Feedback' %}">Адреса магазинов</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Цветы</h4>
  	 			<ul>
  	 				<li><a href="#">Каталог</a></li>
  	 				<li><a href="#">Сборные букеты</a></li>
  	 				<li><a href="#">Пионы</a></li>
  	 				<li><a href="#">Розы</a></li>
  	 				<li><a href="#">Хризантемы</a></li>

  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Дополнительно</h4>
  	 			<ul>
  	 				<li><a href="{% url 'Personal Cabinet' %}">Личный кабинет</a></li>
  	 				<li><a href="{% url 'Shopping Cart' %}">Корзина</a></li>
  	 				<li><a href="{% url 'API' %}">API</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>© 2023 flowersShop. </h4><br>
                <h5>developed by slsforme.</h5><br>
  	 		</div>
  	 	</div>
  	 </div>