<ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Home' %}">Основная страница</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Flowers Catalogue' %}">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Personal Cabinet' %}">Личный кабинет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Shopping Cart' %}">Корзина</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'API' %}">API</a>
          </li>
          <li>
              <a class="nav-link" href="{%  url 'SignIn_SignUp Page' %}">Войти / Зарегистрироваться</a>
          </li>
          <li>
              <a class="nav-link" href="{%  url 'Tags' %}">Тэги</a>
          </li>
     </ul>